* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav, footer {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#180131, #4d098d);
    height: 100vh;
    color: #fff;
}

main {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#180131, #4d098d);
    color: #fff;
}

h1 {
    font-family: 'Rock Salt', cursive;
    color: #dcbedd;
}

h2, h3, h4, p {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* Navbar */
nav {
    /*position: fixed;*/
    height: 6rem;
    padding: 1rem 6rem 1rem 6rem;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    background-color: #180131;
}

nav img {
    height: 5rem;
    width: 5rem;
    align-self: center;
    justify-content: start;
}

nav a {
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    align-self: center;
    justify-self: center;
    transition: .3s;
}

nav a:hover {
    color: #588ff5;  
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 3fr 1fr 0.75fr 0.5fr;
    padding: 4rem 8rem 0 0;
    height: 6rem;
    align-items: start;
    background-color: #4d098d;
}

.reseau-sociaux {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4rem;
}

.reseau-sociaux i {
    width: 8rem;
    margin: 0 3rem 0 1rem;
}

.bx {
    zoom: 200%;
}

.ml {
    grid-column-start: 2;
}

.button {
    text-align: end;
}

.container-link-profil {
    grid-column-start: 3;
}

footer a {
    color: #fff;
    font-size: 1.5rem;
    transition: .3s;
}

footer a:hover {
    color: rgb(88, 143, 245);
    font-weight: bolder;
}