html { 
    scroll-behavior:smooth;
}

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav, footer {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#180131, #4d098d);
    height: 100vh;
    color: #fff;
}

main {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#180131, #4d098d);
    color: #fff;
}

h1 {
    font-family: 'Rock Salt', cursive;
    color: #dcbedd;
}

h2, h3, h4, p {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* Navbar */
.navbar {
    position: fixed;
    justify-content: space-between;
    width: 90%;
    height: 6rem;
    padding: 0 10rem 0 2rem;
    display: flex;
    grid-template-columns: 1fr 1fr;
    background-color: #180131;
}

a img {
    height: 4rem;
    width: 4rem;
    align-self: center;
    justify-content: start;
}

.logo {
    align-self: center;
}

.menu-nav {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    transition: .3s;
    gap: 6rem;
}

.profil {
    color: #fff;
    font-size: 1.8rem;
}

.projets {
    color: #fff;
    font-size: 1.8rem;
}

.contact {
    color: #fff;
    font-size: 1.8rem;
}

.profil:hover {
    color: #588ff5;  

}
.projets:hover {
    color: #588ff5;  

}
.contact:hover {
    color: #588ff5;  
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 3fr 1fr 0.75fr 0.5fr;
    padding: 4rem 8rem 0 0;
    height: 6rem;
    align-items: start;
    background-color: #4d098d;
}

.reseau-sociaux {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4rem;
}

.reseau-sociaux i {
    width: 8rem;
    margin: 0 3rem 0 1rem;
}

.bx {
    zoom: 200%;
}

.ml {
    grid-column-start: 2;
}

.button {
    text-align: end;
}

.container-link-profil {
    grid-column-start: 3;
    text-align: right;
}

footer a {
    color: #fff;
    font-size: 1.5rem;
    transition: .3s;
}

footer a:hover {
    color: rgb(88, 143, 245);
    font-weight: bolder;
}