/* Section Home */
.home {
    width: 80%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4.3rem 10% 0;
}

.home-content {
    max-width: 50rem;
    text-align: center;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #588ff5;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    max-width: 35rem;
    box-shadow: .1rem .1rem .9rem .5rem #588ff5;
    border-radius: 50%;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 1.5s;
}

/* Section Profil */
.profil-p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem 5% 5rem;
}

.aboutme {
    max-width: 50rem;
    text-align: center;
}

.aboutme h3 {
    font-size: 2.6rem;
    padding-bottom: 1rem;
}

.aboutme p {
    font-size: 1.1rem;
    margin: 2rem 5rem 2rem;
}

.skills {
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    max-width: 50rem;
    justify-items: center;
}

.skills h3 {
    grid-column: 1 / 4;
    font-size: 2.6rem;
    padding-bottom: 6rem;
}

.skills-s {
    padding: .6rem 1.3rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(165, 164, 164, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #6e6e6e;
    text-align: center;
}


/* Section Projet */
.portfolio-p {
    text-align: center;
    padding: 4rem 10rem;
}

.portfolio-p h3 {
    font-size: 2.6rem;
    padding: 2rem 0 4rem;
}

.cards { /*projets-p*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    grid-gap: 20px;
    align-items: baseline;
}

.card {
    display: grid;
    grid-template-rows: max-content 12.5rem 1fr;
    border-radius: 15px;
    background: linear-gradient(196deg, rgba(226, 92, 193, 0.8), rgba(255,0,0,0) 50.71%),
                linear-gradient(146deg, rgba(33, 33, 218, 0.8), rgba(0,0,255,0) 70.71%),
                linear-gradient(336deg, rgba(41, 1, 68, 0.8), rgba(0,0,255,0) 70.71%);
}

header {
    font-size: 1.8rem;
}

.card img {
    object-fit: cover;
    width: 90%;
    height: 100%;
    align-items: center;
    padding-left: 1rem;
}

.card-p {
    padding: 1rem;
    font-size: 0.9rem;
}

/* Section Contact */
.container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0 3rem;
}

.cadre {
    border-radius: 50px;
    padding: 3rem;    
    box-shadow: .3rem .3rem .7rem .4rem rgb(31, 31, 31);
    background: linear-gradient(196deg, rgba(226, 92, 193, 0.8), rgba(255,0,0,0) 50.71%),
                linear-gradient(146deg, rgba(33, 33, 218, 0.8), rgba(0,0,255,0) 70.71%),
                linear-gradient(336deg, rgba(41, 1, 68, 0.8), rgba(0,0,255,0) 70.71%);
    width: 40rem;
    height: 45rem;
}

.container-contact h3 {
    font-size: 3rem;
    padding: 0 0 4rem;
    text-align: center;
}

form {
    display: grid;
    align-items: center;
    justify-items: center;
    zoom: 60%;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

#subject {
    width: 64rem;
}

.subject {
    display: grid;
    grid-column: 1 / 3;
}

.msg {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

#msg {
    height: 25rem;
    width: 63rem;
    border-radius: 20px;
    align-self: center;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-c {
    margin: 3rem 19rem 0 0;
    height: 3rem;
    font-weight: 900;
}

.info {
    display: flex;
    align-items: center;
    padding: 3rem 0 2rem 0;
}

.info i {
    padding: 0 0.5rem 0 2rem;
    color: #588ff5;
}

.info h4 {
    font-weight: 100;
}

/* Keyframe animation*/
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}