/* Section Home */
.home {
    position: relative;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4.3rem 10% 0;
}

.home-content {
    max-width: 50rem;
    text-align: center;
}

.home-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.home-content h3 span {
    color: #588ff5;
}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
}

.home-img img {
    max-width: 50rem;
}

/* Section Profil */
.profil-p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20rem 5% 15rem;
}

.aboutme {
    max-width: 50rem;
    text-align: center;
}

.aboutme h3 {
    font-size: 2.6rem;
    padding-bottom: 1rem;
}

.aboutme p {
    font-size: 1.5rem;
    margin: 2rem 5rem 2rem;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 50rem;
    justify-items: center;
}

.skills h3 {
    grid-column: 1 / 4;
    font-size: 2.6rem;
    padding-bottom: 6rem;
}

.skills-s {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(165, 164, 164, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #6e6e6e;
    text-align: center;
}


/* Section Projet */
.portfolio-p {
    text-align: center;
    padding: 4rem 10rem;
}

.portfolio-p h3 {
    font-size: 2.6rem;
    padding: 2rem 0 4rem;
}

.projets-p {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projets-p img {
    width: 50rem;
    height: auto;
    grid-gap: 1rem;
    padding-top: 1rem;
}

.projets-p h4 {
    font-size: 1.8rem;
}

/* Section Contact */
.container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0 3rem;
}

.cadre {
    border-radius: 50px;
    padding: 3rem;
    box-shadow: .3rem .3rem .7rem .4rem rgb(31, 31, 31);
    background: linear-gradient(196deg, rgba(226, 92, 193, 0.8), rgba(255,0,0,0) 50.71%),
                linear-gradient(146deg, rgba(33, 33, 218, 0.8), rgba(0,0,255,0) 70.71%),
                linear-gradient(336deg, rgba(41, 1, 68, 0.8), rgba(0,0,255,0) 70.71%);
}

.form1 {
    /*display: flex;*/
}

.container-contact h3 {
    font-size: 3rem;
    padding: 0 0 4rem;
    text-align: center;
}

li {
    display: grid;
}

#msg {
    height: 25rem;
    width: 29rem;
    border-radius: 20px;
    align-self: center;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.info i {
    justify-content: space-evenly;
}

.info h4 {
    text-align: start;
}