{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
    <h1>Créer un nouveau projet</h1>

    {{ include('admin/projects/_form.html.twig') }}

    <a href="{{ path('projects_index') }}">Retour à la liste</a>
{% endblock %}
