<nav class="navbar">
    <a class="logo" href="{{ path('home') }}" style="--i:1;"><img src="{{ asset("images/phoenix6.png") }}"></a>
    <div class="menu-nav">
        <a class="profil" href="#Profil" style="--i:2;">Profil</a>
        <a class="projets" href="#Projets" style="--i:3;">Projets</a>
        <a class="contact" href="#Contact" style="--i:4;">Contact</a>
    </div>
</nav>