<nav class="navbar-fixed-top">
    <img class="logo" src="{{ asset("images/phoenix6.png") }}" href="{{ path('home') }}" width= "200rem"></a>
    <a class="profil" dir="rtl" href="#Profil">Profil</a>
    <a class="projets" dir="rtl" href="#Projets">Projets</a>
    <a class="contact" dir="rtl" href="#Cntact">Contact</a>
</nav>