<nav class="navbar">
    <img class="logo" src="{{ asset("images/phoenix6.png") }}" href="#Home"></img>
    <a class="profil" dir="rtl" href="#Profil">Profil</a>
    <a class="projets" dir="rtl" href="#Projets">Projets</a>
    <a class="contact" dir="rtl" href="#Contact">Contact</a>
</nav>