<nav class="navbar">
    <a class="logo" href="#Home"><img src="{{ asset("images/phoenix6.png") }}"></a>
    <div class="menu-nav">
        <a class="profil" href="#Profil">Profil</a>
        <a class="projets" href="#Projets">Projets</a>
        <a class="contact" href="#Contact">Contact</a>
    </div>
</nav>