{% extends 'base.html.twig' %}

{% block title %}Nouveau Contact{% endblock %}

{% block body %}
    <h1>Créer un nouveau contact</h1>

    {{ include('admin/contact/_form.html.twig') }}

    <a href="{{ path('contact_index') }}">Retour à la liste</a>
{% endblock %}
