{% extends 'base.html.twig' %}

{% block title %}Nouveau skills{% endblock %}

{% block body %}
<div class="container-ns">
    <h1 class="h1-skills">Ajout d'un nouveau skill<h1>

    {{ form(formSkills) }}
</div>
{% endblock %}